@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Search bar */
/* @media (max-width: 910px) {
    .search_page{
        display: none;
    }

} */
.search_page{
    position: absolute;
    top: 15%;
    right: 85px;
    font-family: 'Montserrat', sans-serif;
}

.search_header{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.search_container form{
    display: flex;
    justify-content: flex-end;
}

.search_container .autocomplete {
    position: relative;
    display: inline-block;
}
 
.search_container input {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%
}

.search_container button {
    padding: 10px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search_container button:hover {
    background: #ccc;
}

.search_container .autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    position: absolute;
    /* top: 100%; */
    left: 0;
    right: 0;
    text-align: left;
}

.search_container .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/* when hovering an item */
.search_container .autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

/* when navigating through the items using the arrow keys */
.search_container .autocomplete-active {
    background-color: #f2f2f2 !important; 
    color: #000; 
}
