@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
:root {
    --hover-transition: 0.3s;
    --non-hover-transition: 0.3s;
    --light-yellow: #fbdd3f;
    --dark-grey: #363740;
    --tab-text-color: #ccc;
    --transition-time: 0.3s;
    --btn-blue: #3d6ecc;
    --btn-green: #0bce83;
    --btn-red: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--light-yellow);
}

.tabcontent {
    margin-left: 5%;
    margin-right: 5%;
}

.tabcontent caption {
    font-weight: 700;
    font-size: 1.5em;
}

.tabcontent tr:nth-child(even) {
    background-color: #f2f2f2;
}


/*  Button container */

.tabcontent .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
}

.tabcontent .btn-container .btn {
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px #999;
    transition: var(--non-hover-transition);
}

.tabcontent .btn-container .btn:hover {
    transition: var(--hover-transition);
    box-shadow: 1px 1px 1px 0px #666;
}


/* Repeat button */

.tabcontent .btn-container .repeat-btn {
    background-color: var(--btn-blue);
    color: #fff;
    font-weight: 600;
}

.tabcontent .btn-container .repeat-btn:hover {
    background-color: var(--btn-blue);
}

.tabcontent table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.tabcontent table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

.tabcontent table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

.tabcontent table th,
.tabcontent table td {
    padding: 0.625em;
    text-align: center;
}

.tabcontent table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.ordersflash {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 650px) {
    .tabcontent {
        margin-left: 4%;
        margin-right: 4%;
    }
    .tabcontent table {
        border: 0;
    }
    .tabcontent table caption {
        font-size: 1.3em;
    }
    .tabcontent table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .tabcontent table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }
    .tabcontent table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.9em;
        text-align: right;
        font-weight: 500;
    }
    .tabcontent table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .tabcontent table td:last-child {
        border-bottom: 0;
    }
    .btn-container {
        margin-left: 38%;
    }
}