@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.all-nav {
    float: right;
    display: flex;
    align-items: center;
    border-color: white;
    border-width: 5px;
    padding-top: 15px;
    justify-content: space-around;
    min-width: 344px;
}

.topnav a.icon {
    float: right;
    display: block;
    display: none;
}

.topnav {
    overflow: hidden;
    /* background: #fbdd3f; */
    height: 90px;
    align-items: center;
    transition: all 1s ease;
    padding: 0% 5%;
}


/*.topnav .route-dropdown .dropdown-content .menu-other{
  display: none;
  position: absolute;
  top: 78px;
  right: 50px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */


/*.topnav .route-dropdown .dropdown-content .menu-other:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}
*/


/*.topnav .route-dropdown .dropdown-content .menu-other a{
text-align: center;
z-index: 1;
}*/

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.avatar {
    border-radius: 50px;
}

.avatar-a {
    border-radius: 50px;
}

.logo {
    height: 68px;
    padding: 0px 0px 0px 0%;
}

.active {
    padding: 0px;
}

.topnav .icon {
    display: none;
}

.waypoint-dropdown,
.route-dropdown {
    float: left;
    overflow: auto;
    padding: 0px 5px;
}

.route-dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 10px;
    border: 2px;
    transition: all 1s ease;
}

.route-dropdown .avatar-a {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 50px;
    border: 2px;
    transition: all 1s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 65px;
}

.dropdown-content-profile {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 65px;
}

@media (min-width:854px) {
    .dropdown-content-profile {
        right: 30px;
    }
}

.sign-log {
    top: 78px;
    right: 8px;
}


/*.dropdown-content:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 19px;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}
*/

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content-profile a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.topnav a:hover,
.route-dropdown:hover .dropbtn {
    background-color: transparent;
    /* color: white; */
    border-radius: 25px;
}

.route-dropdown:hover .avatar-a {
    /* background-color: #555; */
    color: white;
    border-radius: 50px;
}

.route-dropdown:hover .dropbtn {
    /* background-color: #555; */
    color: #000;
    border-radius: 25px;
    padding: 8px 16px;
}

.topnav a:hover,
.route-dropdown:hover .dropdown-content {
    display: block;
}

.route-dropdown:hover .dropdown-content-profile {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0px;
}

.dropdown-content-profile a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 0px;
}

@media screen and (max-width: 854px) {
    .topnav a:not(:first-child),
    .waypoint-dropdown .dropbtn,
    .route-dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: #555;
    }
    .dropdown-content a:hover {
        background-color: transparent;
        font-size: 18px;
    }
    .dropdown-content-profile a:hover {
        background-color: transparent;
    }
}

@media screen and (max-width: 854px) {
    .logo {
        height: 68px;
        padding: 0px 0px 0px 14px;
        transition: all 1s ease;
    }
    .logo.responsive {
        height: 39px;
        padding: 5px 0px 0px 5px;
        transition: all 1s ease;
    }
    .avatar-a {
        border-radius: 50px;
        border-color: 5px;
        /*width: fit-content;*/
        display: block;
        align-items: center;
    }
    .topnav {
        position: relative;
        height: 90px;
        transition: all 1s ease;
        padding: 0px 0px 0px 5%;
    }
    .topnav.responsive {
        position: relative;
        height: 48px;
        transition: all 1s ease;
        padding: 0px 0px 0px 5%;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        text-decoration-color: black;
    }
    .topnav.responsive .route-dropdown {
        float: none;
        padding: 15px 0px 0px 0px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #avat-big {
        float: none;
        justify-content: center;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
        top: auto;
        background: #b39e2d21;
        text-align: center;
        transition: all 1s ease;
        border-radius: 0px;
    }
    .topnav.responsive .dropdown-content a:hover {
        font-weight: 500;
    }
    .topnav.responsive .dropdown-content-profile {
        position: relative;
        top: auto;
        background: #b39e2d21;
        text-align: center;
        transition: all 1s ease;
        border-radius: 0px;
    }
    .topnav .responsive .dropdown-content-profile a {
        left: 50px;
    }
    .topnav .responsive .dropdown-content-profile a:hover {
        font-weight: 500;
    }
    .topnav.responsive .sign-log {
        position: relative;
        top: 0px;
        background: #b39e2d21;
        text-align: center;
        transition: all 1s ease;
        border-radius: 0px;
        /*top: 0px;*/
        right: 0px;
    }
    /*  .topnav.responsive .dropdown-content:before{
  display: none;
   border-radius: 0px;
}
  */
    .topnav.responsive .route-dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0px;
        padding: 14px 16px;
    }
    .all-nav {
        display: block;
        position: fixed;
        top: 35px;
        margin: 5%;
        left: -170%;
        /* background: #fbdd3f; */
        height: 80vh;
        width: 150%;
        text-align: center;
        transition: all 0.5s ease;
        border-radius: 15px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0px;
    }
    .all-nav.responsive {
        display: block;
        position: fixed;
        color: black;
        top: 35px;
        left: 0%;
        /* background: #fbdd3f; */
        height: 80vh;
        overflow: auto;
        width: 90%;
        text-align: center;
        transition: all 1s ease;
        border-radius: 15px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0px;
    }
}

#step {
    background: #f16b6b;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}