@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color: #FBDD3F;
}
.footer-container{
    margin-left: 250px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.footer-container .image{
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-container .text{
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
}
