@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root{
  --hover-transition:0.3s;
  --non-hover-transition:0.3s;
  --sidebar-width:250px;
  --light-yellow:#FBDD3F;
  --dark-grey:#363740;
  --tab-text-color:#ccc;
  --transition-time: 0.3s;
  --btn-blue:#3D6ECC;
  --btn-blue-hover:#3464bd;
  --btn-green:#0BCE83;
  --btn-green-hover:#10bd7b;
  --btn-red:red;


  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  background-color: var(--light-yellow);

}
.page-container{
  position: relative;
  min-height: 100vh;
}
.content-wrapper{
  padding-bottom: 100px; /* height of the footer */
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: var(--sidebar-width);
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 600;
  background-color: var(--dark-grey);
  color:var(--tab-text-color);
  transition: var(--transition-time);

}

.tab button:hover {
  background-color: transparent;
  color: #000;
  transition: var(--transition-time);
}

.tab button.active {
  background-color:transparent;
  color: #000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin-left: var(--sidebar-width);
  padding: 6px 12px;
  border-top: none;
  padding-bottom: 50px;
}

/* Table */
.tabcontent table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 98%;
  border: 1px solid #bbb;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
/*  Column Specifics */
.tabcontent table colgroup .col-orderID{
  width:20%;
}
.tabcontent table colgroup .col-desc{
  width:60%;
}
.tabcontent table colgroup .col-btns{
  width:20%;
}
.tabcontent th, .tabcontent td {
  text-align: center;
  padding: 16px;
}
.tabcontent .cell-desc{
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}
.tabcontent tr:nth-child(even) {
  background-color: #f2f2f2;
}


/*  Button container */
.tabcontent .btn-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-left: 10px;
}

.tabcontent .btn-container .btn{
  cursor: pointer;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 0px #999;
  transition: var(--non-hover-transition);
}
.tabcontent .btn-container .btn:hover{
  transition: var(--hover-transition);
  box-shadow: 1px 1px 1px 0px #666;

}

/* First button */
.tabcontent .btn-container .first-btn{
  background-color: var(--btn-blue);
  color: #fff;
  font-weight: 600;
}
.tabcontent .btn-container .first-btn:hover{
  background-color: var(--btn-blue-hover);
}



