/* Pop up modal */

:root {
    --btn-blue: #3D6ECC;
    --btn-blue-hover: #3464bd;
    --btn-green: #0BCE83;
    --btn-green-hover: #10bd7b;
    --btn-red: #f84278;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

.popup-window {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.win-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup-window .win-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

@media (max-width:1000px) {
    .popup-window .win-content {
        width: 60%;
    }
}

@media (max-width:600px) {
    .popup-window .win-content {
        width: 80%;
    }
}

.popup-window .win-content .para {
    text-align: center;
    padding: 20px;
}

.popup-window .close-btn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.popup-window .close-btn:hover,
.popup-window .close-btn:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}


/* Table */

.popup-window .win-table {
    display: block;
    /* padding: 6px 100px; */
    border-top: none;
    width: 100%;
    position: relative;
    text-align: center;
}

.popup-window .win-table table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 98%;
    border: 1px solid #bbb;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.popup-window .win-table table tr {
    height: 40px;
    max-height: auto;
}


/*  Column Specifics */

.popup-window .win-table table colgroup .col-food {
    width: 50%;
}

.popup-window .win-table table colgroup .col-quantity {
    width: 50%;
}

.popup-window .win-table th,
.win-table td {
    text-align: center;
}

.popup-window .win-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Popup Button container */

.popup-btn-container {
    display: grid;
    grid-template-columns: 1fr;
}


/* Common for both buttons */

.popup-btn-container .btn {
    cursor: pointer;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px #999;
    transition: var(--non-hover-transition);
}

.popup-btn-container .btn:hover {
    transition: var(--hover-transition);
    box-shadow: 1px 1px 1px 0px #666;
}


/* First button */

.popup-btn-container .av-btn {
    background-color: var(--btn-blue);
    color: #fff;
    font-weight: 600;
    justify-self: center;
}

.popup-btn-container .av-btn:hover {
    background-color: var(--btn-blue-hover);
}


/* second button */

.popup-btn-container .order-now-btn {
    background-color: var(--btn-green);
    color: #fff;
    font-weight: 600;
    justify-self: start;
}

.popup-btn-container .order-now-btn:hover {
    background-color: var(--btn-green-hover);
}

@media (max-width:600px) {
    .popup-window table,
    .popup-window .para {
        font-size: 15px;
    }
    .popup-btn-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .popup-btn-container .av-btn {
        justify-self: center;
    }
    .popup-btn-container .order-now-btn {
        justify-self: center;
    }
}


/* order payement successful part */

.fa-check {
    color: var(--btn-green);
    margin: auto;
}

.fa-times{
    color: var(--btn-red);
    margin: auto;
}