    /* fonts */
    @import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

    /* Variable */
    :root{
        --light-yellow:#FBDD3F;
        --unavailable-btn:#FF5A79;
        --unavailable-btn-hover:#f84278;
        --available-btn:#0BCE83;
        --available-btn-hover:#0abE84;
        --inactive-btn:#efefef;

        --hover-transition:0.2s;
        --non-hover-transition:0.6s;
        --sidebar-width:250px;
        /* tab */
        --dark-grey:#363740;
        --tab-text-color:#ccc;
        --transition-time: 0.3s;

        --btn-green:#0BCE83;
        --btn-green-hover:#10bd7b;
    }

    *{
        box-sizing: border-box;
        padding: 0;
        margin:0;
        font-family: 'Montserrat', sans-serif;

    }
    /* *:focus,*:hover{
        outline:none;
    } */

    a{
        text-decoration: none;
        color: #000;
    }

    body {
        /* padding: 5% 5%; */
        background-color:var(--light-yellow);
    }
    .page-container{
        position: relative;
        min-height: 100vh;
    }
    .content-wrapper{
        padding-bottom: 100px; /* height of the footer */
        min-height: 100vh;
    }
    .menu_container{
        display: none;
        margin-left: var(--sidebar-width);
        position: relative;
        min-height: 100vh;

    }

    .menu_container .subcategory-title{
        border-bottom: 1px solid #000;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 20px;
    }

    .grid {
        padding: 30px 30px;
        /* display: grid;  */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));/*auto-fill center items considering grid-gap and content */
        grid-column-gap: 2%;
        grid-row-gap: 40px;
        align-items: stretch;
    }
    

    .grid article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #fff;
        margin: auto;
        margin-bottom: 12px;
    }

    /* Availability */
    .menu_container .grid .text .availability{
        text-transform: capitalize;  
    } 

    /* Button Container */
    button:focus {
        border: none;
        outline: none;
    }
    
    .menu_container .btn-container {
        /* padding: 0px 0px 20px 0px; */
        /* margin: 30px 0px 0px 0px; */
        /* display: flex; */
        display: -webkit-inline-box;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 18px;
        
    }
    .input-cart{
        width: 50px;
        height: 30px;
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
    }
    .button-cart{
        width: 30px;
        height: 30px;
    }

    /* Common For both buttons */
    .menu_container .grid article .btn-container .btn{ 
        height: 100%;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid #bbb;
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
        transition: 0.6s;
        width: 75%;
        margin: 5px;
    }

    .menu_container .grid article .btn-container .btn:hover{
        transition: var(--hover-transition);
        cursor: pointer;
    }

    .menu_container .grid article .btn-container .inactive{
        background-color: var(--inactive-btn);
        border: 1px solid #efefef;
    } 
    .menu_container .grid article .btn-container .inactive:hover{
        cursor: auto;
    }

    .menu_container .grid article .btn-container .inactive .fa-check,
    .menu_container .grid article .btn-container .inactive .fa-times{
        color:#ccc;
    }

    .menu_container .grid article .btn-container .available .fa-check,
    .menu_container .grid article .btn-container .unavailable .fa-times{
        color:#fff;
        transition: var(--non-hover-transition);
    }

    /* Available button */
    .menu_container .grid article .btn-container .available{
        background-color: var(--available-btn);
    }

    .menu_container .grid article .btn-container .available:hover{
        background-color: var(--available-btn-hover);
    }

    /* Unavailable button */
    .menu_container .grid article .btn-container .unavailable{
        background-color: var(--unavailable-btn);
    }

    .menu_container .grid article .btn-container .unavailable:hover{
        background-color: var(--unavailable-btn-hover);
    }

    /* Search Bar */
    .menu_container .search_container {
        padding: 25px 0;
        margin-right: 20px;
    }
    .search_container form{
        display: flex;
        justify-content: flex-end;
    }

    .menu_container input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        /* border: none; */
    }

    .menu_container .search_container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .menu_container .search_container button:hover {
        background: #ccc;
    }

/* food tabs */
.tab {
    overflow: hidden;
    margin-left: var(--sidebar-width);
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    border-top: 1px solid var(--dark-grey);
    border-right: 1px solid var(--dark-grey);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 600;
    background-color: var(--dark-grey);
    color:var(--tab-text-color);
    transition: var(--transition-time);
  
  }
  
  .tab button:hover {
    background-color: transparent;
    color: #000;
    transition: var(--transition-time);
  }
  
  .tab button.active {
    background-color: transparent;
    color: #000;
  }
  .status-msg-wrapper{
      margin-top: 20px;
      padding: 0 20px;
  }

/* Horizontal cards */
.subcategory-title .row {
    margin: 0 -5px; /* Remove extra left and right margins added from padding */
    position: relative;
    height: 80px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid .column {
    float: left;
}

/* Style for specific columns */
.grid .column2{
    position: absolute;
    left: 430px;
    
}
.grid .column3{ /* Availability */
    position: absolute;
    right: 600px;
    
}
.grid .column4{ /* Quantity */
    position: absolute;
    right: 300px;
}

.grid .column5{
    position: absolute;
    right: 100px;
}

article .card {
    text-align: center;
}
article .label_div{
    font-size: 15px;
    margin-bottom: 5px;
}

article .quantity_data_wrapper input[type="number"]{
    padding: 2px;
    padding-left: 10px;
}
    
article .foodname_data_wrapper h4{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
article .foodname_data_wrapper p{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

article .foodname_data_wrapper{
    padding: 25px 0px 25px 25px;
}

article .price_data_wrapper{
    padding: 34px 0px 34px 0px;

}

article .av_data_wrapper{
    padding: 34px 0px 34px 0px;
}

article .quantity_data_wrapper{
    padding: 22px 0px 22px 0px;
    float: left;

}

article .action_data_wrapper{
    padding: 20px 0px 20px 0px;
    width: 60%;
    margin: auto;
}

article .shoppingcartbtn{
    cursor: pointer;
    padding: 15px;
    border: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 0px #999;
    background-color: var(--btn-green);
    width: 150px;
    color: #fff;
}

article .disablecartbtn{
    cursor: pointer;
    padding: 15px;
    border: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 0px #999;
    background-color: #999;
    width: 150px;
    color: #fff;
    cursor: not-allowed;
}

article .shoppingcartbtn:hover{
    transition: var(--hover-transition);
    box-shadow: 1px 1px 1px 0px #666;
    background-color: var(--btn-green-hover);

}










