.section-1{
    background-color: $dark-yellow;
    height:100vh;

}

.section-2{
    height: 90vh;
    background: $light-yellow;
    position:relative;
    display:flex;
    justify-content: center;

}

.section-3{
    height: 90vh;
    background: $dark-yellow;
}

.section-4{
    height: 90vh;
    background: $light-yellow;
}