//section
$dark-yellow: #f6d13d;
$light-yellow: #FBDD3F;

//slider variables
$gutter: 10px;
$lessDark:#212121;
$dark: #000;
$bg: #c0b448;
$maxwidth: 100%;//990px
$colsBigDesktop: 4;
$colsSmallDesktop: 3;